# Python virtual environment
.venv/

# Other Python-related ignores
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.vscode/
.idea/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db 